.about .about_title{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    color: rgba(0, 0, 0, 0.75);
}

.about .about_holder{
    padding: 0;
}

.about .about_holder.ah2{
    flex-direction: row-reverse;
}

.about .img_wrap{
    display: flex;
    align-items: center;
}
.about .img_wrap img{
    width: min-content;
}

.about .img_head{
    width: 100%;
    margin-bottom: 8px;
}

.about .about_right{
    width: 260px;
}

.about text{
    width: 100%;
}

.about .about_head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
}

.about .about_para{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

@media only screen and (max-width:1025px) {
    
    .about .about_holder{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about .about_holder.ah2{
        flex-direction: column;
    }
}

@media only screen and (max-width:900px) {

    .about .about_title{
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        font-size: 36px;
    }
}

@media only screen and (max-width:500px) {
    .about  .about_title{
        padding-top: 0rem;
    }
}