header{
    height: 100vh;
}

.header_area .title_left .title_text{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    color: rgba(0, 0, 0, 0.75);
}

.header_area .title_left .title_para{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
}

.header_area .banner_wrap{
    height: 100vh;
    position: relative;
}

.header_area .banner_wrap .banner_img > img{
    height: 100vh;
}

.header_area .discount_box{
    position: absolute;
    top: 50%;
    left: -90px;

    border-radius: 24px 0px 24px 0px;
    width: 222px;
    overflow: hidden;
    z-index: 3;
}

.header_area .discount_left{
    width: 40%;
    background-color: #FFA300;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.75);
}

.header_area .discount_right{
    width: 60%;
    background-color: white;
}

.header_area .discount_right .discount_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    width: fit-content;
    color: rgba(0, 0, 0, 0.75);
}

.header_area .discount_right .discount_text .t2{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5)
}

.header_area .title_btn
{
    background: #FFC866;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: visible;    
}

.header_area .row .btn_wrap{
    display: none;
}

.header_area .title_btn:hover
{
    background: #FFA300;
    border-radius: 12px;
    width:220px;
    height: 48px;
    color: rgba(0, 0, 0, 0.75);
    overflow: visible;     
}

.header_area .title_btn a.btn
{
    display: flex;
    padding-left: 20px;
    transition: 0.3s;    
}

.header_area .title_btn a.btn:focus{
    box-shadow: none;
}

.header_area .title_btn:hover a{
    padding-left: 35px;
}

.header_area .title_btn span
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    bottom: 0;
    left: 10px;
    line-height: 48px;
    position: relative;
    padding: 0 0 0 26px;
    white-space: nowrap;
    width: 0;
	-moz-transition: 0.1s;
    transition: 0.1s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: 0px;
}

.header_area .title_btn:hover span{
    font-weight: 600;
}

@media only screen and (max-width:1025px) {

    .header_area .title_left .title_text{
        font-size: 50px;
    }

    .header_area .title_left .title_para{
        font-size: 16px;
    }
}

@media only screen and (max-width:900px){
    header{
        height: 100%;
    }

    .header_area{
        display: flex;
        margin-top: 100px;
        justify-content: space-around;
    }

    .header_area .title_btn a.btn{
        padding-left: 0;
    }

    .header_area .banner_wrap{
        height: 340px;
        margin: 0;
    }

    .header_area .banner_wrap .banner_img{
        position: relative;
        overflow: hidden;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        margin-top: 39px;
    }

    .header_area .banner_wrap .banner_img img{
        position: absolute;
        width: 135%;
        height: min-content;
        bottom: 0%;
        left: 0%;        
    }

    .header_area .discount_box{
        top: -15%;
        left: 60%;
    }

    .header_area .title_btn{
        justify-content: center;
        width: 100%;
    }

    .header_area .title_btn a{
        padding-left: 0;
    }

    .header_area .title_btn:hover a{
        padding-left: 8px;
        padding-right: 0px;
    }

    .header_area .title_btn:hover{
        background:#FFA300;
        width: 100%;
        padding-right: 0px;

    }

    .header_area .title_btn span{
        width: auto;
        font-weight: 600;
        padding: 0 0 0 10px;
    }
}

@media only screen and (max-width:500px){
    .header_area .row {
        flex-direction: column;
    }

    .header_area .title_left .title_text{
        font-size: 35px;
    }

    .header_area .title_left .title_para{
        font-size: 16px;
    }

    .header_area .banner_wrap .banner_img img{
        width: 200%;
        left: -30%;
    }

    .header_area .discount_left{
        font-size: 32px;
    }

    .header_area .discount_right .discount_text{
        font-size: 14px;
    }

    .header_area .discount_right .discount_text .t2{
        font-size: 10px;
    }

    
    .header_area .title_btn.t1{
        display: none;
    }

    .header_area .row .btn_wrap{
        display: block;
    }

    .header_area .title_btn.t2{
        justify-content: center;
        width: 100%;
    }

    .header_area .title_btn.t2:hover{
        padding-left: 0;
    }


    .header_area .discount_box{
        top: -10%;
        left: 45%;
        width: 139px;
    }
}