.gambar
{
    border-radius: 8px;
    height: 169px;
    overflow: hidden;
}

.gambar img
{
    height: 169px;
}

.help h1
{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    /* identical to box height, or 74px */
    margin-bottom: 40px;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.75);
}
.help .form
{
    margin-top: 50px;
}

.help .form .form-control
{
    box-shadow: none;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);

    
}
.help .form .form-control:hover
{
    animation:  animate 1s linear  forwards;

}

.help form input
{
    width: 488px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px 20px 20px 0px;
    padding-left: 20px;

}






@keyframes animate
{
    0%
    {
        border-width: 2cm;
      border-top: 1px solid;
      border-top-color: rgba(255, 163, 0, 0.2);
      border-right: 1px solid ;
      border-right-color: rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid;
      border-bottom-color:rgba(0, 0, 0, 0.25);
      border-left: 1px solid ;
      border-left-color:  rgba(0, 0, 0, 0.25);
    }
    50%
    {
        transition: 5s;
        border-top: 1px solid;
        border-top-color: rgba(255, 163, 0, 0.2);
        border-right: 1px solid ;
        border-right-color: rgba(255, 163, 0, 0.2);
        border-bottom: 1px solid ;
        border-bottom-color:rgba(0, 0, 0, 0.25);
        border-left: 1px solid ;
        border-left-color:  rgba(0, 0, 0, 0.25);
    }
    75%
    {
        transition: 5s;
        border-top: 1px solid;
        border-top-color: rgba(255, 163, 0, 0.5);
        border-right: 1px solid ;
        border-right-color: rgba(255, 163, 0, 0.5);
        border-bottom: 1px solid ;
        border-bottom-color:rgba(255, 163, 0, 0.5);
        border-left: 1px solid ;
        border-left-color:  rgba(0, 0, 0, 0.25);
    }
    90%
    {
        transition: 5s;
        border-top: 1px solid;
        border-top-color: rgba(255, 163, 0, 0.8);
        border-right: 1px solid ;
        border-right-color: rgba(255, 163, 0, 0.8);
        border-bottom: 1px solid ;
        border-bottom-color:rgba(255, 163, 0, 0.8);
        border-left: 1px solid ;
        border-left-color:  rgba(255, 163, 0, 0.8);
    }
    100%
    {
        transition: 5s;
        border-top: 1px solid;
        border-top-color: rgba(255, 163, 0, 1);
        border-right: 1px solid ;
        border-right-color: rgba(255, 163, 0, 1);
        border-bottom: 1px solid ;
        border-bottom-color:rgba(255, 163, 0, 1);
        border-left: 1px solid ;
        border-left-color:  rgba(255, 163, 0, 1);
    }
}

.help .area textarea
{
    width: 488px;
    height: 278px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    color: black;
    padding-top: 25px;
    padding-left: 20px;

}

.help
{
    margin-bottom: 100px;
}


.help .tombol .bt
{
    background: #FFC866;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    margin-top: 10px;
    position: relative;
    right: 10px;
    transition: 0.5s;

}
.help .tombol .bt:hover 
{
    background:#FFA300;
    border-radius: 12px;
    width: 144px;
    padding-left: 10px;

}


.help .tombol  .bt:hover a img#pojok 
{
    transform: rotate(45deg);
}

.help .tombol  .bt a img#submit 
{
   visibility: hidden;
}


.help .tombol a img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    left: 1px;
    transition: 0.5s;
}

.help .tombol a span
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    left: -10px;
    top: 3px;



}


/* responsive */
@media only screen and (max-width: 10000px  )
{
    .help .tombol .bt
    {
        margin-left: 145px;
        right: 0px;

    }
}
@media only screen and (max-width: 2000px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 125px;
        right: 10px;

    }
}
@media only screen and (max-width: 1800px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 50px;
        right: 10px;

    }
}

@media only screen and (max-width: 1600px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 0px;
        right: 10px;

    }
}
@media only screen and (max-width: 1400px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 50px;
        right: 0px;

    }
}
@media only screen and (max-width: 1300px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 0px;
        right: 10px;

    }
}
@media only screen and (max-width: 1280px  )
{
    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;
        margin-left: 10px;
        right: 0px;

    }
}
@media only screen and (max-width: 1024px  )
{
    .help h1
    {
        font-size: 36px;
    }

    .help .tombol
    {
        position: relative;
        left: 0px;
        padding: 0px;
        margin-left: 280px;
    }

    .help .tombol .bt
    {
        background: #FFC866;
        border-radius: 12px;
        width: 296px;
        height: 48px;
        margin-top: 10px;
        transition: 0.5s;

    
    }


    .help .tombol .bt:hover 
    {
        width: 296px;
        background: #FFC866;
    }



    
    .help .tombol  .bt a img#pojok 
    {
       display: none;
    }
    .help .tombol  .bt:hover a img#pojok 
    {
       display: none;
       pointer-events: none;
       opacity: 0;
       touch-action: none;
    }

    .help .tombol  .bt a img#submit 
    {
       visibility: visible;
       width: 5px;
       height: 9px;
       position: relative;
       top: 8px;
    }
    .help .tombol  .bt a 
    {
        position: relative;
        bottom: 3px;
        margin-right: 0px;

    }
    .help .tombol  .bt a span
    {
        position: relative;
        left: 10px;
        font-size: 16px;
        top: 8px;
    }

    .help form input
    {
        margin: 20px 0px 20px 0px;

    }

    .help .tombol
    {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

}
@media only screen and (max-width: 576px)
{
    .help .tombol
    {
        position: relative;
        left: 0px;
        padding: 0px;
        margin-left: 20px;
    }
    .gambar
    {
        border-radius: 8px;
        overflow: hidden;
        border-radius: 8px;
        height: 88px;
    }

    .gambar img
    {
        position: relative;
        height: 88px;

    }

    .help .form
    {
        margin-top: 50px;
    }

    .help .form .form-control
    {
        box-shadow: none;
        outline: none;
    }

    .help form input
    {
        width: 296px;
        height: 64px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 8px;
        margin: 20px 0px 20px 0px;
        font-size: 14px;

    }

    .help .area textarea
    {
        width: 296px;
        height: 174px;
        
    }

    .help .area textarea::placeholder
    {
        font-size: 14px;
        width: 200px;
    }

}

