.produk
{
    opacity: 1;
    transform: none;
}
.produk h1
{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    /* identical to box height, or 74px */


    color: rgba(0, 0, 0, 0.75);
}

.kartu
{
    margin-top: 60px;
}
.card
{
    margin: 10px; 
    width: 24.1rem;
    height: 38rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.card:hover
{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}


.card .kotak
{
    width: 327px;
    height: 329px;
    background: #DAF3ED;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
}



.card .card-body
{
    position: absolute;
    top: 400px;
    width: 327px;
    height: 329px;
    padding: 0;
}

.card .card-body h5
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);
}

.card .card-body h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.75);
    position: relative;
    top:-10px;
}

.card .card-body .order
{
    background: #FFC866;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.5s;
    overflow: visible;    
}
.card .card-body .order:hover span
{
    background: #FFA300;
    border-radius: 12px;
    height: 48px;
    color: rgba(0, 0, 0, 0.75);
    overflow: visible;  
    transition: 5s;   
}

.card .card-body .order:hover
{
    background: #FFA300;
    border-radius: 12px;
    width:172px;
    height: 48px;
    color: rgba(0, 0, 0, 0.75);
    overflow: visible;
    padding-left: 10px;     
}

.card .card-body .order a
{
    display: flex;

}


.card .card-body .order span
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    bottom: 0;
    left: 10px;
    line-height: 48px;
    overflow: hidden;
    position: relative;
    padding: 0;
    white-space: nowrap;
    width: 0;
	-moz-transition: 0.50s;
    transition: 0.5s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
}

.card .best
{
    position: absolute;
    top: -20px;
    width: 190px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.card .best h4
{
    position: relative;
    top: 2px;
    padding-left: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    color: rgba(0, 0, 0, 0.75);
}

.card .card-body .order a.btn:focus
{
    outline: none;
    box-shadow: none;
}


/* responsive */

@media only screen and (max-width: 1024px)
{
    .produk h1
    {
        font-size: 38px;
        text-align: left;
    }
    .card
    {
        margin-bottom: 100px;
    }
    .card .card-body .order
    {
        background: #FFC866;
        border-radius: 12px;
        width: 325px;
        height: 48px;
        justify-content: center;
        align-items: center;
        overflow: visible;    
    }
    .card .card-body .order:hover span
    {
        display: visible;

    }

    .card .card-body .order:hover
    {
        width: 258px;
        background: #FFC866;
    }

    .card .card-body .order span
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        bottom: 0;
        left: 5px;
        overflow: visible;
        position: relative;
        -moz-transition: none;
        transition: none;
        border-top-right-radius: none;
        border-bottom-right-radius: none; 
    }

    .card .card-body .order a img
    {
        width: 24px;
    }

    .card .card-body .order a
    {
        position: relative;
        right: 35px;
    }

    

}

@media only screen and (max-width: 572px)
{
    .produk h1
    {
        margin-left: 12px;
    }
    .card
    {
        margin-bottom: 50px;
        width: 18.5rem;
        height: 29rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .card .kotak
    {
        width: 257px;
        height: 251px;
        background: #DAF3ED;
    }



    .card .card-body
    {
        position: absolute;
        top: 300px;
        width: 257px;
        height: 251px;
        padding: 0;
    }

    .card .card-body h5
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 30px */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.5);
    }

    .card .card-body h2
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        /* identical to box height, or 48px */

        color: rgba(0, 0, 0, 0.75);
        position: relative;
        top:-10px;
    }
    .card .best
    {
        width: 144px;
        height: 46px;
    }

    .card .best h4
    {
        font-size: 18px;
        position: relative;
        top: 5px;
        padding-left: 5px;
    }

    .card .best img
    {
        width: 23px;
        height: 23px;
    }

    .card .card-body .order
    {
        width: 258px;
        height: 48px;

    }
}