.testimoni h1
{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    /* or 74px */

    text-align: center;

    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    margin-top: 110px;
}


.testimoni .carousel-inner .carousel-item .bg-tengah
{
    height: 411px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.testimoni .carousel-inner .carousel-item .bg-tengah .test h5
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 75px;

}
.testimoni .carousel-inner .carousel-item .bg-tengah .test h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;  
    position: relative;
    bottom: 25px;
    color: rgba(0, 0, 0, 0.75);

}
.testimoni .carousel-inner .carousel-item .bg-tengah .test h4
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    bottom: 35px;
    color: rgba(0, 0, 0, 0.5);

}

.testimoni .carousel-inner .carousel-item .bg-tengah .test
{
    width: 487px;
    height: 269px;
    position: relative;
    bottom: 0px;
    z-index: 5;
}

.testimoni .carousel-inner .carousel-item .bg-tengah #orang1
{
    width: 293px; height: 348px; position: relative; top: 63px;
}
.testimoni .carousel-inner .carousel-item .bg-tengah #orang2
{
    width: 244px; height: 355px; position: relative; top: 60px;
}
.testimoni .carousel-inner .carousel-item .bg-tengah #orang3
{
    width: 319px; height: 349px; position: relative; top: 65px;
}

.testimoni .carousel-inner .carousel-item .bg-tengah .test .garis
{
    width: 860px;
    height: 0.5px;
    position: relative;
    bottom: 45px;
    background-color:  rgba(0, 0, 0, 0.5);
}

.testimoni .carousel-inner
{
    width:996px; 
}

.testimoni .carousel-inner .carousel-item .bg-tengah .test .bintang
{
    width: 136px;
    height: 240px;
}

/* buttom */


.testimoni .carousel button#kiri
{
    position: absolute;
    left: -165px;
}

.testimoni .carousel button#kiri .kiri2
{
   visibility: hidden;
}
.testimoni .carousel button#kanan
{
    position: absolute;
    right: -165px;
}

.testimoni .carousel button#kanan .kanan2
{
   visibility: hidden;
}

.testimoni .carousel-indicators button
{
    visibility: hidden;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #4E4E4E;
}

/* end button */

/* responsive */
@media only screen and (max-width: 1024px)
{
    .testimoni h1
    {
        font-size: 36px;
        margin-bottom: 0px;
    }
    .testimoni .carousel-inner
    {
        width:296px;
    }
    .testimoni .carousel-inner .carousel-item .bg-tengah
    {
        height: 502px;
        flex-direction: column-reverse;
    }
    .testimoni .carousel-inner .carousel-item .bg-tengah .test .garis
    {
        display: none;
    }

    .testimoni .carousel-inner .carousel-item .bg-tengah .test 
    {
        width: 280px;
        position: relative;
        left: 5px;
    }
    .testimoni .carousel-inner .carousel-item .bg-tengah .test h5
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        /* or 24px */
        
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 110px;
        text-align: center;

    }
    .testimoni .carousel-inner .carousel-item .bg-tengah .test h3
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;  
        position: relative;
        bottom: 90px;
        color: rgba(0, 0, 0, 0.75);
        text-align: center;

    }
    .testimoni .carousel-inner .carousel-item .bg-tengah .test h4
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        position: relative;
        bottom: 100px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;

    }

    .testimoni .carousel-inner .carousel-item .bg-tengah .test .bintang
    {
        width: 90px;
        height: 16px;
        position: relative;
        top: 90px;
        left: 100px;
    }

    .testimoni .carousel-inner .carousel-item .bg-tengah #orang1
    {
        width: 196px; height: 251px; position: relative; top: 0px; left: 57px;
    }
    .testimoni .carousel-inner .carousel-item .bg-tengah #orang2
    {
        width: 164px; height: 265px; position: relative; top: 0px; left: 67px;
    }
    .testimoni .carousel-inner .carousel-item .bg-tengah #orang3
    {
        width: 229px; height: 259px; position: relative; top: 0px; left: 40px; 
    }


    .testimoni .carousel button#kiri
    {
        position: absolute;
        left: -50px;
        visibility: hidden;
    }

    .testimoni .carousel button#kiri .kiri2
    {
        visibility: visible;
    }
    .testimoni .carousel button#kanan
    {
        position: absolute;
        right: -25px;
        visibility: hidden;
    }

    .testimoni .carousel button#kanan .kanan2
    {
        visibility: visible;

    }

    .testimoni .carousel-indicators
    {
        position: absolute;
        top: 520px;
    }
    .testimoni .carousel-indicators button
    {
        visibility: visible;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #4E4E4E;
    }


}
